@import "./main.scss";

div#root {
  width: 100%;
}

#root main.logements .imgLogements> img:not(.active) {
  display: none;
}

#root main.logements div> img.active {
width: 100%;
height: 415px;
}


.home {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}

nav.sc-dntaoT.hjaaia.headerNav {
  padding: 30px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.banner img {
  width: 100%; 
  border-radius: 10px;
  height: 200px;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Calque sombre */
  border-radius: 10px;
  z-index: 1;
  height: 200px;
}

.banner h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3em;
  font-weight: bold;
  z-index: 2;
  margin: 0;
}

.gallery {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  background-color: #F6F6F6;
  padding: 60px;
  margin-top: 3em;
  border-radius: 25px;
  flex-direction: row;
  gap: 0px 50px;
  padding-right: 20px;
}

.Card{
  width: 340px;
  height: 340px;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-bottom: 49px;
  margin-right: 3em;
}

.Card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Card h3{
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  font-size: 1em;
  text-shadow: 2px 2px 2px black;
  margin: 0;
  height: 20%;
  width: 100%;
  padding: 20px;
  margin-bottom: 25px;
  padding-right: 152px;
}

body {
  display: flex ;
  padding: 2em;
  padding-top: 0em;
}

body:not(.footerDiv){
  height: 2000px;
  padding: 0px;
}



.footerDiv{
  background-color: black;
  width: 100%;
  height: 13em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.footerDiv p{
  width: 100%;
  color: white;
  justify-content: center;
  display: flex;
}

footer nav div img{
  height: 70px;
  width: 160px;
}

main {
  padding: 1em;
  padding-top: 0em;
  padding: 0px 70px 50px;
}

.card-Home {
  justify-content: space-between;
  padding: 5em;
  background-color: #F6F6F6;
  border-radius: 40px;
  margin-top: 50px;
}

.error {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error img {
  width: 529px;
  height: 228px;
  gap: 0px;
  opacity: 0px;
  margin-top: 54px;
  margin-bottom: 120px;
}

.error h2{
  color: red;
  width: 872px;
  height: 51px;
  gap: 0px;
  opacity: 0px;
  font-family: Montserrat;
  font-size: 36px;  
  font-weight: 300;
  line-height: 51.34px;
  text-align: center;
  margin-bottom: 90px;
}

.error p{
  font-family: Montserrat;
font-size: 18px;
font-weight: 500;
line-height: 25.67px;
text-align: left;
width: 284px;
height: 26px;
gap: 0px;
opacity: 0px;
margin-top: 30px;
}

.lowSide {
  display: flex;
  flex-wrap: wrap;
}

p.titleP {
  width: 100%;
  height: 51px;
  top: 608px;
  left: 100px;
  gap: 0px;
  opacity: 0px;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 500;
  line-height: 51.34px;
  text-align: left;
  color: #FF6060;
  margin-top: 1em;
}

p.descrP {
  width: 100%;
  margin-bottom: 20px;
}

.lienA a{
  color: black;
  text-decoration: none;
  font-size: 25px;
  text-align: center;
}

span.Right {
  position: absolute;
  right: 0;
  cursor: pointer;
  font-size: 100px;
  color: white;
}

span.Left {
  position: absolute;
  margin-left: 5px;
  cursor: pointer;
  font-size: 100px;
  color: white;
}

/**/

.fiche-logements {
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.imgLogements {
  position: relative;
  text-align: center;
}

.Left, .Right {
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.Left {
  left: 10px;
}

.Right {
  right: 10px;
}

.img-count {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

.info {
  display: flex;
  justify-content: space-between;
}

.logement-info {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  width: 40%;
  gap: 20px;
  padding-left: 0px;
}

.logement-title h2 {
  font-size: 24px;
  margin: 0;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 500;
  line-height: 51.34px;
  text-align: left;
  color: #FF6060;
}

.logement-title p {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.67px;
  text-align: left;
}

.tags {
  display: flex;
  gap: 10px;
}

.tag {
  background-color: #ff6060;
  color: white;
  padding: 5px 10px;
  border-radius: 30px;
  width: 130px;
  height: 25px;
  justify-content: center;
  display: flex;
  font-weight: 600;
  font-size: 14px;
}

.host {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.host-info {
  display: flex;
  align-items: center;
  width: 11%;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;
}

.host p {
  width: 10%;
  margin-right: 21px;
  font-size: 20px;
  color: #FF6060;
  margin-right: 54px;
}

.host-picture {
  border-radius: 50%;
  width: 68px;
  height: 68px;
  margin-left: 10px;
}

.host-rating {
  display: flex;
  gap: 5px;
}

.star-filled {
  color: #ff6060;
  font-size: 32px;
}

.star-empty {
  color: #ddd;
  font-size: 32px;
}

.details {
  display: flex;
  gap: 20px;
}

.description {
  width: 50%;
}

.description p {
  width: 100%;
  background-color: #F6F6F6;
  padding: 20px;
  line-height: 1.4;
  font-size: 20px;
}

.equipments {
  width: 50%;
}

.equipments ul{
  width: 90%;
  background-color: #F6F6F6;
  padding: 20px;
  line-height: 1.4;
  font-size: 20px;
}

  .details button {
    width: 100%;
    background-color: #FF6060;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

span.Top{
  font-size: 32px;
  height: 27px;
}

.banner-about img{
  width: 100%;
  border-radius: 10px;
  height: 185px;
}

.detail {
  display: flex;
  gap: 30px;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.detail button {
  width: 100%;
  background-color: #FF6060;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fiabilité {
  width: 80%;
}

.respect {
  width: 80%;
}

.service {
  width: 80%;
}

.sécurité {
  width: 80%;
}

.fiabilité p{
  background-color: #F6F6F6;
  padding: 20px;
  line-height: 1.4;
  font-size: 25px;
}

.respect p{
  background-color: #F6F6F6;
  padding: 20px;
  line-height: 1.4;
  font-size: 25px;
}

.service p{
  background-color: #F6F6F6;
  padding: 20px;
  line-height: 1.4;
  font-size: 25px;
}

.sécurité p{
  background-color: #F6F6F6;
  padding: 20px;
  line-height: 1.4;
  font-size: 25px;
}

span.arrow.down {
  font-size: 32px;
  height: 27px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  body{
    padding: 20px;
  }
  
  
  
  .home {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding: 0px;
  }

  nav.sc-dntaoT.hjaaia.headerNav {
    padding: 15px;
  }

  .headerNav a img{
    height: 60px;
  }

  .nav.sc-dntaoT.hjaaia.headerNav{
    padding:0px;
  }

  .banner img {
    width: 100%; 
    border-radius: 10px;
    height: 100px;
  }
  
  .banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Calque sombre */
    border-radius: 10px;
    z-index: 1;
    height: 100px;
  }
  
  .banner h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
    font-weight: bold;
    z-index: 2;
    margin: 0;
  }

  .gallery{
    flex-direction: column;
    display: flex;
    gap: 1em;
    margin-top: 0px;
    padding: 2px;
    background-color: none;

  }

  .Card{
    width: 100% ;
    height: 100%;
  }

  .Card img {
    width: 100%;
    height: 200px;
  }

  .lienA a{
    color: black;
    font-size: 25px;
  }

  #root main.logements div > img.active {
    height: 385px;
    gap: 0px;
    opacity: 0px;
  }

  span.Right {
    position: absolute;
    right: 0;
    margin-right: 65px;
    margin-top: 16%;
    cursor: pointer;
    font-size: 50px;
  }
  
  span.Left {
    position: absolute;
    margin-left: 5px;
    margin-top: 16%;
    cursor: pointer;
    font-size: 50px;
  }

  p.titleP {
    width: 100%;
    height: 51px;
    top: 608px;
    left: 100px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 500;
    line-height: 51.34px;
    text-align: left;
    color: #FF6060;
    margin-top: 15px;
}

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

  body:not(.footerDiv) {
    height: 2000px;
    padding: 0px 10px 10px ;
}

  .home {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding: 0px;
  }
  
  .headerNav {
    padding: 15px;
    justify-content: space-between;
  }

  .headerNav a img{
    height: 50px;
  }

  .banner img {
    width: 100%; 
    border-radius: 10px;
    height: 100px;
  
  }
  
  .banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Calque sombre */
    border-radius: 10px;
    z-index: 1;
    height: 100px;
  }
  
  .banner h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    z-index: 2;
    margin: 0;
  }

  .gallery{
    flex-direction: column;
    display: flex;
    gap: 1em;
    margin-top: 0px;
    padding: 2px;
    background-color: none;
  }

  .Card{
    width: 100% ;
    height: 100%;
  }

  .Card h3{
    margin-bottom: 40px;
  }

  .Card img {
    width: 100%;
    height: 196px;
  }

  .lienA a{
    color: black;
    font-size: 17px;
    padding-right: 0px;
  }

  #root main.logements div > img.active {
    width: 100%;
    height: 255px;
    gap: 0px;
    opacity: 0px;
    border-radius: 1rem;
  }

  span.Right {
    position: absolute;
    right: 0;
    margin-right: 20px;
    cursor: pointer;
    font-size: 28px;
    color: white;
  }
  
  span.Left {
    position: absolute;
    margin-left: 2px;
    cursor: pointer;
    font-size: 28px;
    color: white;
  }

  .info {
    display: flex;
    flex-direction: column;
  }

  .fiche-logements {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: auto;
    padding: 0 20px;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
  }
  
  header .logo {
    font-size: 24px;
    font-weight: bold;
    color: #FF6060;
  }

  nav.sc-dntaoT.hjaaia.headerNav {
    width: 100%;
    padding: 0px 10px 10px 0px;
    padding-left: 10px;
    padding-right: 10px;
}
  
  header nav a {
    text-decoration: none;
    color: black;
    font-size: 16px;
  }

  main {
    padding: 10px;
    padding-top: 0em;
}
  
  .imgLogements {
    position: relative;
    text-align: center;
  }
  
  .imgLogements img {
    width: 100%;
    border-radius: 15px;
  }
  
  .Left, .Right {
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #FF6060;
  }
  
  .Left {
    left: 10px;
  }
  
  .Right {
    right: 10px;
  }
  
  .img-count {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #FF6060;
    font-size: 16px;
  }
  
  .logement-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
    width: 100%
  }
  


  .logement-title h2 {
    font-size: 23px;
    color: #FF6060;
    width: 100%;
    line-height: 1.3;
  }
  
  .logement-title p {
    color:black ;
    font-size: 16px;
  }
  
  .tags {
    display: flex;
    gap: 10px;
  }
  
  .tag {
    background-color: #FF6060;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 11px;
    width: 115px;
  }
  
  .host-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .host-name p {
    color: #FF6060;
    margin: 0;
    text-align: right;
    font-size: 14px;
  }
  
  .host-picture {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #1c0e0e; 
  }

  .host p {
    margin-right: 50px;
  }
  
  .host-rating {
    display: flex;
    gap: 5px;
  }
  
  .star-filled {
    color: #FF6060;
  }
  
  .star-empty {
    color: #ddd;
  }

  .details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px;
    margin-top: 20px;
  }
  
  .details button {
    width: 100%;
    background-color: #FF6060;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .description {
    width: 100%;
  }

  .description p {
    width: 100%;
  }

  .equipments {
    width: 100%;
}

.equipments ul {
  width: 100%;
}

span.Top {
  font-size: 32px;
  height: 27px;
}

.detail{
  padding: 0px;
}

.detail button{
  font-size: 15px;
  font-weight: bold;
  justify-content: space-between;
}

.banner-about img {
  width: 100%;
  border-radius: 10px;
  height: 126px;
}

.fiabilité {
  width: 100%;
}

.respect {
  width: 100%;
}

.service {
  width: 100%;
}

.sécurité {
  width: 100%;
}

  footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    font-size: 14px;
  }

  .error img {
    width: 263px;
    height: 111px;
  }

  .error h2{
    width: 293px;
    height: 51px;
    font-size: 22px;
    line-height: 1.4em;
  }

}

/*******/ 
/************************************/
.light,
.light body {
  color: #000;
  background: #fff;
}

.dark,
.dark body {
  color: #fff;
  background: #000;
}
/***********************************/
/***********************************/
/***********************************/
/************base*******************/
//BASE
//NORMALIZE
//TYPOGRAPHY
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/***********************************/
/***********************************/
/************component**************/
//BUTTONS

/***********************************/
/***********************************/
/************layouts****************/
//HEADER
//NAV
//MAIN
//FOOTER

/***********************************/
/***********************************/
/************pages******************/

/***********************************/
/***********************************/
/************themes*****************/

/***********************************/
/***********************************/
/************utils******************/
//EXTENSIONS
//FONCTIONS
//MIXINS
//VARIABLES 
/*
$primary: #9356DC;
$secondary: #FF79DA;
$ternary: #99E2D0;
*/

/***********************************/
/***********************************/
/************vendors****************/



/***********************************/
/***********************************/
/***********************************/
/********/
/********/
/***********************************/
/***********************************/
/*******custom rules***************/
// :root{font-family:Roboto;}

// ul.safe,ol.safe{margin:0;}


body{
  &::before{}
  &::after{}
  >header{
    >nav{
      &.navbar{}
    }
    >#carousel-area{
      >#carousel-slider{
        >ol{
          >li{
            &::before{}
            &::after{}
          }
        }
        >.carousel-inner{
          >.carousel-item{
            &.active{

            }
            >img{}
            >div{
              >a{}
              >h2{}
              >h3{}
              >h4{}
            }
          }
        }
        >a{
          >span{
            >i{}
          }
          &.carousel-control-prev{}
          &.carousel-control-next{}
        }
      }
    }
    >section{
      &.logIn{}
      &.loggedIn{}
    }
  }
  >nav{

  }
  >main{
    >section{
    }
    >article{
    }
    .carte{
    }
  }
  >footer{
    >h4{
    }
    >h5,>a{}
    >h5{
    }
    >a{
    }
  }
}


@include mobile-only{
  body{
    &>header{}
    &>nav{}
    &>main{
      &>section{}
      &>article{}
    }
    &>footer{
      &>ul{}
    }
  }
}
@include tablette-only{
  body{
    &>header{}
    &>nav{}
    &>main{
      &>section{}
      &>article{}
    }
    &>footer{
      &>ul{}
    }
  }
}
@include from-desktop{
  body{
    &>header{}
    &>nav{}
    &>main{
      &>section{}
      &>article{}
    }
    &>footer{
      &>ul{}
    }
  }
}

